/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/* Variables de colores */
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

@mixin fontFamily-Alata {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

@mixin fontFamily-Josefin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

@mixin displayFlex-beetwen {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header-Main-container {
  background-image: url("./assets/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  height: 80vh;
}

.header {
  @include displayFlex-beetwen;
  align-items: flex-end;
  padding: 50px 0 50px 0;
  width: 80%;
  margin: auto;
}

.header-title {
  @include fontFamily-Alata;
}

.header-nav {
  display: flex;
  list-style: none;
  gap: 20px;
  @include fontFamily-Alata;

  li {
    position: relative;

    a {
      text-decoration: none;
      color: $white;
      transition: color 0.3s;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $white;
        transition: width 0.3s;
        position: absolute;
        bottom: -5px;
        left: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 60vh;
  width: 80%;
  margin: auto;
}

.main-content {
  border: 2px solid #ccc;
  padding: 25px;
  width: 50%;

  h2 {
    @include fontFamily-Josefin;
    font-size: 80px;
  }
}

.section-vr {
  @include displayFlex-beetwen;
  position: relative;
  align-items: center;
  padding: 150px 0 150px 0;
  background-color: $white;
  width: 80%;
  margin: auto;

  &__image {
    flex: 1;
    position: relative;
    img {
      width: 60%;
      display: block;
    }
  }
}

.section-vr__content {
  position: absolute;
  top: 53%;
  left: 50%;
  background-color: $white;
  padding: 94px 0 0 100px;

  h2 {
    @include fontFamily-Josefin;
    font-size: 48px;
    margin-bottom: 2rem;
    color: $black;
  }

  p {
    @include fontFamily-Josefin;
    font-size: 1rem;
    line-height: 1.5;
    color: $black;
    max-width: 445px;
  }
}

.our-creations {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;

  .our-Title {
    @include displayFlex-beetwen;
    align-items: center;
    margin-bottom: 50px;
  }
  h2 {
    @include fontFamily-Josefin;
    font-size: 30px;
  }

  button {
    width: 90px;
    height: 30px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: 1px solid $black;
    @include fontFamily-Alata;
    font-size: 13px;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  .creations-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    box-sizing: border-box;
    width: 100%;
    color: $black;
  }
}

.creation-item {
  display: flex;
  position: relative;
  overflow: hidden;

  .creation-img {
    width: 100%;
    margin: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.3;
    }
    &:hover ~ .creation-title {
      color: $black;
    }
  }
}

.creation-title {
  position: absolute;
  bottom: 5%;
  left: 10%;
  font-size: 2rem;
  color: $white;
  line-height: 1.2;
  @include fontFamily-Josefin;
  text-align: left;
  transition: color 0.3s ease;
}

.footer {
  color: $white;
  background-color: $black;
  height: 200px;
  .logo-and-socials {
    @include displayFlex-beetwen;
    width: 80%;
    margin: auto;
    padding: 30px 0;
    align-items: flex-end;
  }
  .logo h1 {
    @include fontFamily-Alata();
  }
  .social-icons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .nav-and-bottom {
    @include displayFlex-beetwen;
    width: 80%;
    margin: auto;
    padding: 10px 0;
  }
  .footer-nav {
    ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      li a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        @include fontFamily-Josefin;
      }
    }
  }
  .footer-bottom {
    color: $dark-gray;
  }
}
